- It is a convention to use SQL queries in all capital letters as it distinguishes it from other code, but it is not a necessary.
- In the below query, we broke the clauses into multiple lines, it is also a conventions but not a requirement

In [60]:
import sqlite3
import pandas as pd

In [61]:
%load_ext sql
%sql sqlite:///./data/nepal.sqlite

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

- Select clause usually says that these are the columns that you need to get data from
- If we need the data from all the columns we put a * 
- Then we need to give the table from which where we need to get these columns from
- It is a convention to keep all the letters of a query syntax capital. It is not required but it helps in distinguishing.
- Another convention is to keep the clauses in different lines. Again this is a convention and not a requirement.

In [62]:
%%sql
SELECT *
FROM sqlite_schema

 * sqlite:///./data/nepal.sqlite
Done.

[('table', 'id_map', 'id_map', 2, 'CREATE TABLE "id_map" (\n"household_id" INTEGER,\n  "building_id" INTEGER,\n  "vdcmun_id" INTEGER,\n  "district_id" INTEGER\n)'),
 ('index', 'ix_id_map_household_id', 'id_map', 3, 'CREATE INDEX "ix_id_map_household_id"ON "id_map" ("household_id")'),
 ('table', 'building_structure', 'building_structure', 2032, 'CREATE TABLE "building_structure" (\n"building_id" INTEGER,\n  "count_floors_pre_eq" INTEGER,\n  "count_floors_post_eq" INTEGER,\n  "age_building" IN ... (198 characters truncated) ... or_type" TEXT,\n  "other_floor_type" TEXT,\n  "position" TEXT,\n  "plan_configuration" TEXT,\n  "condition_post_eq" TEXT,\n  "superstructure" TEXT\n)'),
 ('index', 'ix_building_structure_building_id', 'building_structure', 2033, 'CREATE INDEX "ix_building_structure_building_id"ON "building_structure" ("building_id")'),
 ('table', 'building_damage', 'building_damage', 12302, 'CREATE TABLE "building_damage" (\n"building_id" INTEGER,\n  "damage_overall_collapse" TEXT,\n  "damage_overall_leaning" TEXT,\n  "damage_overall_adja ... (2923 characters truncated) ... ndslide" INTEGER,\n  "has_geotechnical_risk_rock_fall" INTEGER,\n  "has_geotechnical_risk_flood" INTEGER,\n  "has_geotechnical_risk_other" INTEGER\n)'),
 ('index', 'ix_building_damage_building_id', 'building_damage', 12305, 'CREATE INDEX "ix_building_damage_building_id"ON "building_damage" ("building_id")'),
 ('table', 'household_demographics', 'household_demographics', 30763, 'CREATE TABLE "household_demographics" (\n"household_id" INTEGER,\n  "gender_household_head" TEXT,\n  "age_household_head" REAL,\n  "caste_household"  ... (8 characters truncated) ...  "education_level_household_head" TEXT,\n  "income_level_household" TEXT,\n  "size_household" REAL,\n  "is_bank_account_present_in_household" REAL\n)'),
 ('index', 'ix_household_demographics_household_id', 'household_demographics', 30764, 'CREATE INDEX "ix_household_demographics_household_id"ON "household_demographics" ("household_id")')]

In [63]:
%%sql
SELECT name
FROM sqlite_schema
WHERE type="table"

 * sqlite:///./data/nepal.sqlite
Done.

[('id_map',),
 ('building_structure',),
 ('building_damage',),
 ('household_demographics',)]

- LIMIT clause will help us get a peak in the data without loading all the data into memory

In [64]:
%%sql
SELECT *
FROM id_map
LIMIT 5

 * sqlite:///./data/nepal.sqlite
Done.

[(5601, 56, 7, 1),
 (6301, 63, 7, 1),
 (9701, 97, 7, 1),
 (9901, 99, 7, 1),
 (11501, 115, 7, 1)]

- How to find the number of observations/examples/rows in our dataset/table

In [65]:
%%sql
SELECT count(*)
FROM id_map

 * sqlite:///./data/nepal.sqlite
Done.

[(249932,)]

- Get a list of unique objects in each column

In [66]:
%%sql
SELECT distinct(district_id)
FROM id_map

 * sqlite:///./data/nepal.sqlite
Done.

[(1,), (2,), (3,), (4,)]

- Count the actual number of unique values in each column

In [67]:
%%sql
SELECT count(distinct(building_id))
FROM id_map

 * sqlite:///./data/nepal.sqlite
Done.

[(234835,)]

- Filtering contents based on row data

In [68]:
%%sql
SELECT *
FROM id_map
WHERE district_id = 4
LIMIT 5

 * sqlite:///./data/nepal.sqlite
Done.

[(16400201, 164002, 38, 4),
 (16408101, 164081, 38, 4),
 (16408901, 164089, 38, 4),
 (16409801, 164098, 38, 4),
 (16410301, 164103, 38, 4)]

- Counting the number of rows after filtering

In [69]:
%%sql
SELECT count(*)
FROM id_map
WHERE district_id = 4

 * sqlite:///./data/nepal.sqlite
Done.

[(75883,)]

- Finding the number of unique buildings after adding filter in one specific column
- Giving the output column an alias

In [70]:
%%sql
SELECT count(distinct(building_id)) AS unique_buildings_gorkha
FROM id_map
WHERE district_id =4

 * sqlite:///./data/nepal.sqlite
Done.

[(70836,)]

#### Starting with the actual table that will give us the Features for the Predictive Model

In [71]:
%%sql
SELECT *
FROM building_structure
LIMIT 5

 * sqlite:///./data/nepal.sqlite
Done.

[(1, 1, 1, 9, 288, 9, 9, 'Flat', 'Other', 'Bamboo/Timber-Light roof', 'Mud', 'Not applicable', 'Not attached', 'Rectangular', 'Damaged-Used in risk', 'Stone, mud mortar'),
 (2, 1, 1, 15, 364, 9, 9, 'Flat', 'Other', 'Bamboo/Timber-Light roof', 'Mud', 'Not applicable', 'Not attached', 'Rectangular', 'Damaged-Repaired and used', 'Stone, mud mortar'),
 (3, 1, 1, 20, 384, 9, 9, 'Flat', 'Other', 'Bamboo/Timber-Light roof', 'Mud', 'Not applicable', 'Not attached', 'Rectangular', 'Damaged-Repaired and used', 'Stone, mud mortar'),
 (4, 1, 1, 20, 312, 9, 9, 'Flat', 'Other', 'Bamboo/Timber-Light roof', 'Mud', 'Not applicable', 'Not attached', 'Rectangular', 'Damaged-Repaired and used', 'Stone, mud mortar'),
 (5, 1, 1, 30, 308, 9, 9, 'Flat', 'Other', 'Bamboo/Timber-Light roof', 'Mud', 'Not applicable', 'Not attached', 'Rectangular', 'Damaged-Repaired and used', 'Stone, mud mortar')]

In [72]:
%%sql
SELECT count(*)
FROM building_structure

 * sqlite:///./data/nepal.sqlite
Done.

[(234835,)]

- Joining two tables
- Whenever we do a join between tables, we look for a column that is common in both the tables.
- Handling the different number of rows in two tables by using LEFT join
- Using tables as Alias names

In [73]:
%%sql
SELECT *
FROM id_map AS i 
JOIN building_structure AS s ON i.building_id = s.building_id
WHERE district_id = 4
LIMIT 5

 * sqlite:///./data/nepal.sqlite
Done.

[(16400201, 164002, 38, 4, 164002, 3, 3, 20, 560, 18, 18, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 'Damaged-Repaired and used', 'Stone, mud mortar'),
 (16408101, 164081, 38, 4, 164081, 2, 2, 21, 200, 12, 12, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 'Damaged-Used in risk', 'Stone, mud mortar'),
 (16408901, 164089, 38, 4, 164089, 3, 3, 18, 315, 20, 20, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 'Damaged-Used in risk', 'Stone, mud mortar'),
 (16409801, 164098, 38, 4, 164098, 2, 2, 45, 290, 13, 13, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 'Damaged-Used in risk', 'Stone, mud mortar'),
 (16410301, 164103, 38, 4, 164103, 2, 2, 21, 230, 13, 13, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 'Damaged-Used in risk', 'Stone, mud mortar')]

In [75]:
%%sql
SELECT distinct(i.building_id), 
    s.*
FROM id_map AS i
JOIN building_structure AS s ON i.building_id = s.building_id
WHERE district_id = 4
LIMIT 5

 * sqlite:///./data/nepal.sqlite
Done.

[(164002, 164002, 3, 3, 20, 560, 18, 18, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 'Damaged-Repaired and used', 'Stone, mud mortar'),
 (164081, 164081, 2, 2, 21, 200, 12, 12, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 'Damaged-Used in risk', 'Stone, mud mortar'),
 (164089, 164089, 3, 3, 18, 315, 20, 20, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 'Damaged-Used in risk', 'Stone, mud mortar'),
 (164098, 164098, 2, 2, 45, 290, 13, 13, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 'Damaged-Used in risk', 'Stone, mud mortar'),
 (164103, 164103, 2, 2, 21, 230, 13, 13, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 'Damaged-Used in risk', 'Stone, mud mortar')]