- It is a convention to use SQL queries in all capital letters as it distinguishes it from other code, but it is not a necessary.
- In the below query, we broke the clauses into multiple lines, it is also a conventions but not a requirement

In [1]:
import sqlite3
import pandas as pd

In [5]:
%load_ext sql
%sql sqlite:///./data/nepal.sqlite