- It is a convention to use SQL queries in all capital letters as it distinguishes it from other code, but it is not a necessary.
- In the below query, we broke the clauses into multiple lines, it is also a conventions but not a requirement

In [24]:
import sqlite3
import pandas as pd

In [25]:
%load_ext sql
%sql sqlite:///./data/nepal.sqlite

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

- Select clause usually says that these are the columns that you need to get data from
- If we need the data from all the columns we put a * 
- Then we need to give the table from which where we need to get these columns from
- It is a convention to keep all the letters of a query syntax capital. It is not required but it helps in distinguishing.
- Another convention is to keep the clauses in different lines. Again this is a convention and not a requirement.

In [26]:
%%sql
SELECT *
FROM sqlite_schema

 * sqlite:///./data/nepal.sqlite
Done.

[('table', 'id_map', 'id_map', 2, 'CREATE TABLE "id_map" (\n"household_id" INTEGER,\n  "building_id" INTEGER,\n  "vdcmun_id" INTEGER,\n  "district_id" INTEGER\n)'),
 ('index', 'ix_id_map_household_id', 'id_map', 3, 'CREATE INDEX "ix_id_map_household_id"ON "id_map" ("household_id")'),
 ('table', 'building_structure', 'building_structure', 2032, 'CREATE TABLE "building_structure" (\n"building_id" INTEGER,\n  "count_floors_pre_eq" INTEGER,\n  "count_floors_post_eq" INTEGER,\n  "age_building" IN ... (198 characters truncated) ... or_type" TEXT,\n  "other_floor_type" TEXT,\n  "position" TEXT,\n  "plan_configuration" TEXT,\n  "condition_post_eq" TEXT,\n  "superstructure" TEXT\n)'),
 ('index', 'ix_building_structure_building_id', 'building_structure', 2033, 'CREATE INDEX "ix_building_structure_building_id"ON "building_structure" ("building_id")'),
 ('table', 'building_damage', 'building_damage', 12302, 'CREATE TABLE "building_damage" (\n"building_id" INTEGER,\n  "damage_overall_collapse" TEXT,\n  "damage_overall_leaning" TEXT,\n  "damage_overall_adja ... (2923 characters truncated) ... ndslide" INTEGER,\n  "has_geotechnical_risk_rock_fall" INTEGER,\n  "has_geotechnical_risk_flood" INTEGER,\n  "has_geotechnical_risk_other" INTEGER\n)'),
 ('index', 'ix_building_damage_building_id', 'building_damage', 12305, 'CREATE INDEX "ix_building_damage_building_id"ON "building_damage" ("building_id")'),
 ('table', 'household_demographics', 'household_demographics', 30763, 'CREATE TABLE "household_demographics" (\n"household_id" INTEGER,\n  "gender_household_head" TEXT,\n  "age_household_head" REAL,\n  "caste_household"  ... (8 characters truncated) ...  "education_level_household_head" TEXT,\n  "income_level_household" TEXT,\n  "size_household" REAL,\n  "is_bank_account_present_in_household" REAL\n)'),
 ('index', 'ix_household_demographics_household_id', 'household_demographics', 30764, 'CREATE INDEX "ix_household_demographics_household_id"ON "household_demographics" ("household_id")')]

In [27]:
%%sql
SELECT name
FROM sqlite_schema
WHERE type="table"

 * sqlite:///./data/nepal.sqlite
Done.

[('id_map',),
 ('building_structure',),
 ('building_damage',),
 ('household_demographics',)]

- LIMIT clause will help us get a peak in the data without loading all the data into memory

In [28]:
%%sql
SELECT *
FROM id_map
LIMIT 5

 * sqlite:///./data/nepal.sqlite
Done.

[(5601, 56, 7, 1),
 (6301, 63, 7, 1),
 (9701, 97, 7, 1),
 (9901, 99, 7, 1),
 (11501, 115, 7, 1)]

- How to find the number of observations/examples/rows in our dataset/table

In [29]:
%%sql
SELECT count(*)
FROM id_map

 * sqlite:///./data/nepal.sqlite
Done.

[(249932,)]

- Get a list of unique objects in each column

In [30]:
%%sql
SELECT distinct(district_id)
FROM id_map

 * sqlite:///./data/nepal.sqlite
Done.

[(1,), (2,), (3,), (4,)]

- Count the actual number of unique values in each column

In [31]:
%%sql
SELECT count(distinct(building_id))
FROM id_map

 * sqlite:///./data/nepal.sqlite
Done.

[(234835,)]