In [51]:
import sqlite3
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from category_encoders import OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.utils.validation import check_is_fitted

#### Getting the data

In [52]:
def wrangle(db_path):
    # connect to database
    conn = sqlite3.connect(db_path)

    # construct query
    query = """
    SELECT DISTINCT i.building_id AS b_id, s.*, d.damage_grade
    FROM id_map as i
    JOIN building_structure as s ON i.building_id = s.building_id
    JOIN building_damage as d ON i.building_id = d.building_id
    WHERE district_id = 4
    """
    # Read query results into a dataframe
    df = pd.read_sql(query, conn, index_col="b_id")
    drop_cols = [col for col in df.columns if "post_eq" in col]

    df.drop(columns=drop_cols, inplace=True)
    return df

In [53]:
df = wrangle("./data/nepal.sqlite")
df.head()

        building_id  count_floors_pre_eq  ...     superstructure  damage_grade
b_id                                      ...
164002       164002                    3  ...  Stone, mud mortar       Grade 2
164081       164081                    2  ...  Stone, mud mortar       Grade 2
164089       164089                    3  ...  Stone, mud mortar       Grade 2
164098       164098                    2  ...  Stone, mud mortar       Grade 3
164103       164103                    2  ...  Stone, mud mortar       Grade 3

[5 rows x 14 columns]

In [54]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 70836 entries, 164002 to 234835
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   building_id             70836 non-null  int64
 1   count_floors_pre_eq     70836 non-null  int64
 2   age_building            70836 non-null  int64
 3   plinth_area_sq_ft       70836 non-null  int64
 4   height_ft_pre_eq        70836 non-null  int64
 5   land_surface_condition  70836 non-null  object
 6   foundation_type         70836 non-null  object
 7   roof_type               70836 non-null  object
 8   ground_floor_type       70836 non-null  object
 9   other_floor_type        70836 non-null  object
 10  position                70836 non-null  object
 11  plan_configuration      70836 non-null  object
 12  superstructure          70836 non-null  object
 13  damage_grade            70836 non-null  object
dtypes: int64(5), object(9)
memory usage: 8.1+ MB
None

- Remove Leaky Features

In [ ]:
# drop_cols = [col for col in df.columns if "post_eq" in col]